:root {
  --off-white: #f5fcff;
  --green: #025951;
  --light-blue: #66BCF2;
  --dard-blue: #010A26;
  --dark-brown: #261E1D;
  --light-brown: #8C6F4A;
}

.bold {}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--off-white);
  font-family: 'Inter', system-ui, sans-serif;
}

.nav-logo {
  width: 2em;
  height: 2em;
  margin-right: 7px;
}

.nav-wrapper {
  padding: 10px 0;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.nav-journal-heading {
  color: var(--off-white);
}



.card {
  /* padding: 0px 20px; */
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 60%;
  display: flex;
  justify-content: space-around;
  /* background-color: rgb(239, 179, 241); */
  align-content: flex-start;
  flex-wrap: wrap;
}

.card-picture {
  flex: 1 1 200px;
  max-width: 200px;
  border-radius: 9px;
}

.card-info {
  align-self: center;
  /* background-color: rgb(163, 210, 250); */
  max-width: 500px;
  overflow: auto;
  max-height: 220px;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: auto;
  margin-bottom: auto
}

.location-logo {
  width: 22px;
  height: 22px;
}


.card-info-top {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  max-width: 500px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.location {
  margin-left: 3px;
  margin-right: auto;
  font-weight: 600;
  margin-right: 10px;
}

.g-map-link {
  margin-left: 0;
  margin-right: auto;
  color: var(--light-brown);
}

.g-map-link:hover {
  color: var(--dark-brown);
}


.the-title {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--dard-blue);
}

.duration {
  font-weight: bold;
}

.description {
  color: var(--dard-blue);
}